#VNEXT-EntryContainer {
	position: relative;
	width: calc(100% - 10px);
	padding: 5px;
}

#VNEXT-PrefsContainer {
	position: relative;
	width: calc(100% - 10px);
	height: 15px;
	padding: 10px;
}

#VNEXT-EntryWrapper {
	display: inline-block;
}

.stripe tbody, .stripe tfoot, #expandall, .rlist .stripe .tc6, .rlist .stripe .tc7 {
	display: none;
}

.vnext-entry {
	position: relative;
	float: left;
	margin: 5px;
	color: #FFF;
	background-color: #FFF0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

.vnext-darken {
	background-color: rgba(0, 0, 0, 0.6);
	width: 150px;
	height: 200px;
	padding: 5px;
	opacity: 0;
	animation-name: fade-out;
	animation-duration: 0.2s;
    position: relative;
    z-index: 2;
}

.vnext-darken.always-visible {
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 1;
	animation: none;
}

.vnext-darken:hover {
	opacity: 1;
	animation-name: fade-in;
	animation-duration: 0.2s;
}

img.custom-cover.nsfw.nothover:not(.noblur){
	filter: blur(8px);
}

.vnext-darken.always-visible:hover {
	animation: none;
}

.vnext-bottom {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 60px;
	font-size: 12px;
	pointer-events: none;
}

.vnext-bottom.smaller {
	height: 40px;
}

.vnext-english-title, .vnext-japanese-title, .vnext-status, .vnext-releases, .vnext-rating, .vnext-cast-date, .vnext-vote, .vnext-added-date, .vnext-priority {
	width: 100%;
	text-align: center;
	pointer-events: none;
}

.vnext-english-title {
	font-size: 14px;
	font-weight: bold;
}

.vnext-japanese-title {
	font-family: 'Yu Mincho';
	font-size: 12px;
}

.vnext-vote {
	position: absolute;
	top: 75px;
	left: 0px;
	right: 0px;
	bottom: 70px;
	font-size: 48px;
	color: #FFF;
	background-color: #8d241e;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
}

.vnext-tooltip {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
	color: #FFF;
	width: 300px;
	z-index: 10;
	opacity: 0;
	pointer-events: none;
}

.vnext-tooltip.disabled {
	display: none;
}

.vnext-tooltip.appear {
	opacity: 1;
	animation-name: fade-in;
	animation-duration: 0.5s;
}

.vnext-tooltip.disappear {
	opacity: 0;
	animation-name: fade-out;
	animation-duration: 0.5s;
}

.vnext-tooltip-description {
	text-align: justify;
	padding: 5px;
}

.vnext-tooltip-description p {
	padding: 5px;
}

.vnext-tooltip-comment {
	text-align: justify;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

.vnext-tooltip-comment p {
	padding: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 15px;
	text-align: justify;
	font-weight: bold;
	font-style: italic;
}

.vnext-tooltip-comment p:before, .vnext-tooltip-comment p:after {
	content: '"';
}

.vnext-tooltip-infobox {
	position: relative;
	display: inline-block;
	width: calc(100% - 20px);
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #FFF;
}

.vnext-tooltip-publisher {
	position: relative;
	float: left;
}

.vnext-tooltip-tl-status {
	position: relative;
	float: right;
}

.vnext-tooltip-length {
	position: relative;
	width: calc(100% - 20px);
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border-top: 1px solid #FFF;
}

.vnext-tooltip-length p  {
	width: 100%;
	text-align: center;
}

.vnext-pref-label, .vnext-pref-checkbox {
	position: relative;
	float: left;
	display: inline-block;
}

.vnext-pref-label {
	padding: 0px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.vnext-pref-checkbox {
	margin: 0px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.custom-cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.fil_div {
    z-index: 10;
}

div#ds_box {
    z-index: 10;
}

div.mainbox.browse.ulist > table:not(.show),
div.mainbox.browse.vnbrowse > table:not(.show) {
    display: none;
}

@keyframes fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fade-out {
	0% { opacity: 1; }
	100% { opacity: 0; }
}
